/* ================= 
MAIN.CSS
================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Graphik Web';
    src: url('css/Graphik-Regular-Web.eot');
    src: url('css/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('css/Graphik-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url('css/Graphik-Semibold.otf');
}

@font-face {
    font-family: 'Fugue';
    src: url('css/Fugue-Regular.otf');
}

@font-face {
    font-family: 'Ogg';
    src: url('css/Ogg-Roman.otf')
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

#container {
    background: url(images/wavy_new.jpg) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
}

#deleteItAll {
    font-family: 'Fugue';
    color: white;
    cursor: pointer;
    position:fixed; 
    right: 30px;
    top: 30px; 
    z-index:999999999999; 
    font-size: 3em; 
}

.limit {
    position: relative;
    width: 100%;
    height: 100vh;
/*    overflow: hidden;*/
}

.appear {
    display: block !important; 
}

.disable {
    pointer-events: none;
    opacity: .35;
}

.hidden { 
    display: none; 
    visibility: hidden; 
}

.prop1,
.prop2,
.prop3,
.prop4 {
    cursor: move;
    position: absolute;
    height: 50px;
    width: 50px;
    text-align: center;
}

.location,
.visual,
.media,
.content {
    position: absolute;
}

.location {
    width: 144px;
    height: 99px; 
    background-image: url("images/location.svg");
}

.visual {
    width: 143px;
    height: 142px;
    background-image: url("images/visual.svg");  
}

.media {
    width: 142px;
    height: 46px;
    background-image: url("images/media.svg");
}

.content {
    width: 143px;
    height: 124px;
    background-image: url("images/content.svg");
}

/** Special hover/color changing of icons **/

.prop1:hover .location,
.prop2:hover .location, 
.prop3:hover .location,
.prop4:hover .location {
    background-image: url("images/location_hover.svg");
}

.prop1:hover .visual,
.prop2:hover .visual, 
.prop3:hover .visual,
.prop4:hover .visual {
    background-image: url("images/visual_hover.svg");
}

.prop1:hover .media,
.prop2:hover .media,
.prop3:hover .media, 
.prop4:hover .media {
    background-image: url("images/media_hover.svg");
}

.prop1:hover .content,
.prop2:hover .content, 
.prop3:hover .content, 
.prop4:hover .content {
    background-image: url("images/content_hover.svg");
}

/** End Special hover/color changing of icons **/

.prop1 p,
.prop2 p,
.prop3 p,
.prop4 p {
    display: none;
    font-family: 'Graphik Web';
    width: 100%;
    top: 50px;
    right: -50px;
    position: absolute;
    font-size: 1.25em;
    color: black;
}

.sort #properties {
    display: none;  
}

.sort #themes {
    display: none;  
}

.sort h1 {
    text-align: center;
    color: white;
    font-family: 'Ogg';
}

.sort #prop1 {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 40%;
    height: 250px;
    background: none;
}

.sort #prop2 {
    position: absolute;
    top: 120px;
    right: 100px;
    width: 40%;
    height: 250px;
    background: none;
}

.sort #prop3 {
   position: absolute;
   bottom: 120px;
   left: 100px;
   width: 40%;
   height: 250px;
   background: none;
}

.sort #prop4 {
   position: absolute;
   bottom: 120px;
   right: 100px;
   width: 40%;
   height: 250px;
   background: none;
}

.sort .prop1,
.sort .prop2,
.sort .prop3,
.sort .prop4 {
    position: relative;
    display: inline-block;
    left: 0px !important;
    top: 0px !important;
    transform: scale(.5);
    margin-top: 30px;
    margin-right: 60px;
    z-index: 999999;
}

.sort #them1 {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 40%;
    height: 250px;
    background: none;
}

.sort #them2 {
   position: absolute;
   top: 120px;
   right: 100px;
   width: 40%;
   height: 250px;
   background: none;
}

.sort #them3 {
   position: absolute;
   bottom: 120px;
   left: 100px;
   width: 40%;
   height: 250px;
   background: none;
}

.sort .them1,
.sort .them2,
.sort .them3 {
    position: relative;
    display: inline-block;
    left: 0px !important;
    top: 0px !important;
    transform: scale(.5);
    margin-top: 30px;
    margin-right: 60px;
    z-index: 999999;
}

.list-view {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.list {
    overflow: scroll;
    margin: auto;
    margin-top: 120px;
    width: 80%;
    height: 65%;
    background-color: white;
    padding: 35px;
    z-index: 999999;
}

.allcontent {
    padding: 25px;
    margin-bottom: 50px;
}

.list .icon {
    float: left;
    width: 200px;
    text-align: left;
    overflow: visible;
}

.list .icon h1 {
    position: relative;
    font-size: 1em;
    font-family: 'Ogg';
    text-transform: uppercase;
    color: black;
    z-index: 99999999;
}

.list .icon .mat1,
.list .icon .mat2,
.list .icon .mat3,
.list .icon .mat4,
.list .icon .mat5,
.list .icon .mat6,
.list .icon .mat7, 
.list .icon .mat8,
.list .icon .mat9,
.list .icon .mat10, 
.list .icon .mat11,
.list .icon .mat12,
.list .icon .mat13,
.list .icon .mat14, 
.list .icon .mat15,
.list .icon .mat16,
.list .icon .mat17, 
.list .icon .mat18, 
.list .icon .mat19,
.list .icon .mat20,
.list .icon .mat21,
.list .icon .mat22 {
    position: relative;
    display: inline-block;
    left: -50px !important;
    top: -50px !important;
    transform: scale(.75);
    z-index: 0;
}

.list ul {
    font-family: 'Graphik Web';
    margin-left: 250px;
    line-height: 22px;
}

.list li {
    display: table-row;
    margin-bottom: 4px;
}

.list li img {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 180px;
    right: 200px;
    width: 450px;
    height: 450px;
    border: 1px solid black;
}

.list li:hover img {
    display: block;
}

.list li:hover {
    cursor: crosshair;
    color: #29c171; 
}

.active {
    display: block !important; 
}

a:link {
    text-decoration: none;
}

div p {
    font-size: .75em;
    font-family: 'Graphik Web';
    font-weight: 200;
    color: white;
}

.title-left,
.title-right {
    font-family: 'Fugue';
    color: white;
    font-size: 3em; 
}

.title-left {
    float: left;
    margin: 30px 0 0 30px;
}

.title-right {
    float: right;
    margin: 30px 30px 0 0;
}

.cube-page {
    float: left;
    margin: 30px 0 0 20px;
}

#bottom {
    box-sizing: border-box;
    background-color: rgba(0,0,0,1);
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    z-index: 99999999;
}

.build {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45%;
    text-align: left;
    padding-top: 17px;
    z-index: -1;
}

.build p {
    display: inline-block;
}

.table {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 52%;
    text-align: right;
    padding-top: 17px;
    z-index: -1;
}

.table p {
    cursor: pointer;
    display: inline-block;
}

.manifesto-toggle,
.schedule-toggle {
    float: left;
    cursor: pointer;
    padding-top: 20px;
    padding-right: 40px;
    z-index: 999999999;
}

.list-toggle,
.sort-toggle {
    float: right;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 40px;
    z-index: 999999999;
}

.sort-types {
    text-align: right;
    float: right;
    cursor: pointer;
    padding-top: 12px;
    padding-left: 40px;
    z-index: 999999999;
    line-height: 15px;
}

.schedule {
    top: 0px;
    overflow: scroll;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    z-index: 9999999;
}

.schedule:hover {
    cursor: url('cursor_white.cur'), auto;
}

.schedule li {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Ogg";
    color: #29c171;
    text-transform: uppercase;
}

.schedule ul:last-child {
    margin-bottom: 200px;
}

.schedule .complete {
    text-decoration: line-through;
}

.versions {
    color: #29c171;
    font-size: 2em;
}

.versions h1 {
    display: inline-block;
    font-family: "Ogg";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.versions .number {
    float: right;
    margin-left: 10px;
    font-family: 'Graphik Semibold';
    letter-spacing: 2px;
}

.versions:last-child {
    margin-bottom: 200px;
}

.versions p {
    color: #29c171;
    font-family: "Ogg";
    font-size: 20px;
    line-height: 24px;
    margin-left: 20%;
    margin-right: 20%;
}

.versions li {
    margin-bottom: 50px;
}

.manifesto {
    top: 0px;
    overflow: scroll;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    z-index: 9999999;
}

.manifesto:hover {
    cursor: url('cursor_white.cur'), auto;
}

.material {
   font-size: 1.25em; 
}

.entry {
    font-size: .75em;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}